---
layout: default
title: Blog
---

<!-- <h1 class="page-heading">Posts</h1> -->
<!-- <p>Some of the articles you see here I have ported over from my <a href='http://stickies.github.io'>old blog</a>. -->

<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </li>
  {% endfor %}
</ul>

