---
layout: newhome
---
<div class='flex justify-center items-center h-screen w-1/2 mx-auto bg-black' id='home-wrapper'>
<div id='home' class='relative'>
  <div id='home--mars-rotate' class='w-48 mx-auto bg-black'>
    <a href='/blog.html'>
      <img class='' src='/images/gifs/mars-rotate.gif' />
    </a>
  </div>

  <div id='home--text' class='w-full mx-auto'>
    <div id="circle">
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="300px" viewBox="0 0 300 300" enable-background="new 0 0 300 300" xml:space="preserve">
        <defs>
          <path stroke-width='6px' stroke='black' id="circlePath" d=" M 150, 150 m -144, 0 a 144,144 0 0,1 288,0 a 144,144 0 0,1 -288,0 "/>
          <!-- <circle id='fullCircle' stroke-width='4px' stroke='black' cx="150" cy="150" r="140" fill="none"/> -->
        </defs>
        <a xlink:href='/blog.html'>
          <circle id='myfullCircle' stroke='none' cx="150" cy="150" r="140" fill="transparent"/>
          <g>
            <use xlink:href="#circlePath" fill="none"/>
            <text fill="#fff">
              <textPath id='home--text--mml' xlink:href="#circlePath">MARTIAN WEBS</textPath>
            </text>
          </g>
        </a>
      </svg>
    </div>
  </div>
</div>
</div>
