<footer class="footer">
    <div class="container">
    <!-- <p class="pull-right"><a href="/#">Back to top</a></p> -->
    <!-- <p>© 2014 Martian Media Ltd. · <a href="/privacy">Privacy</a> · <a href="/terms">Terms</a></p> -->
    <p>{{ site.copyright }}</p>
    </div>
</footer>
