<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <div id='mini-martian-header'>
        <a class="navbar-brand" href="/">Martian Webs</a>
      </div>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about.html">About & Contact</a></li>
        <li><a href="/blog.html">Blog</a></li>
        <!-- <li><a href="http://stickies.github.io">Blog</a></li> -->
        <!-- <li><a href="/services.html">Services</a></li> -->
    </div>
  </div>
</nav>
