{% assign current_item = '' %}

<div class="cron">
{% for post in site.posts %}
  {% if page.url == post.url %}
    {% assign current_item = post %}
  {% else %}
    {% if current_item != '' %}
  <a href="{{post.url}}"><< {{post.title}}</a>
    {% assign current_item = '' %}
    {% endif %}
  {% endif %}
{% endfor %}
&nbsp;<a href='#'>|</a>&nbsp;
{% for post in site.posts reversed %}
  {% if page.url == post.url %}
    {% assign current_item = post %}
  {% else %}
    {% if current_item != '' %}
  <a href="{{post.url}}">{{post.title}} >></a>
    {% assign current_item = '' %}
    {% endif %}
  {% endif %}
{% endfor %}
</div>
