{% assign count = '0' %}
{% assign idx = '0' %}
{% for post in site.posts reversed %}
	{% if post.series == include.series %}
		{% capture count %}{{ count | plus: '1' }}{% endcapture %}
		{% if post.url == page.url %}
			{% capture idx %}{{count}}{% endcapture %}
		{% endif %}
	{% endif %}
{% endfor %}

<div class="series-note">
  <div class="series-note--head">
    <p>This article is <strong>Part {{ idx }}</strong> in a <strong>{{ count }}-Part</strong> series.</p>
  </div>
  <div class="series-note--content">
    <ul>
      {% assign count = '0' %}
      {% for post in site.posts reversed %}
      {% if post.series == include.series %}
      {% capture count %}{{ count | plus: '1' }}{% endcapture %}
      <li>Part {{ count }} -
        {% if page.url == post.url %}
        This Article
        {% else %}
        <a href="{{post.url}}">{{post.title}}</a>
        {% endif %}
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
    <div class="series-note--footer">
      <small class='shout-out'>Thanks to <a href='http://realjenius.com/2012/11/03/jekyll-series-list/'>realjenius</a> for the series snippet.</small>
    </div>
</div>

{% assign count = nil %}
{% assign idx = nil %}
