@import 'https://fonts.googleapis.com/css?family=Exo';

.anim-step {
  clear: both;
  width: 100%;
  padding-top: 48px;
  padding-bottom: 48px;

  .step-instructions {
    h3 { padding-top: 0px; margin-top: 0px; }
    text-align: right;
    padding-right: 8px;
    max-width: 20%;
    min-width: 80px;
    float: left;
  }
  .gif {
    border: solid grey 1px;
    max-width: 80%;
    min-width: 250px;
    float: left;
    padding-bottom: 2px;
  }
}

.item { background: none !important; }
#myCarousel {}
#martian-header a {
  color: #919191;
  &:hover { text-decoration: none; }
}
#martian-header small { color: black; font-size: 16px; }
#martian-header small a { color: black; font-style: bold; text-decoration: underline; }
#martian-nav-icon a { padding-bottom: 8px; }
.carousel-caption a { color: white; font-style: bold; text-decoration: underline; }
.footer {
  padding-top: 10px;
  background-color: #f5f5f5;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
#mini-martian-header { display: none; }
#page-navbar {
  .navbar-inverse {
    border: none;
    color: white; background-color: #5b2f2f;
    li a { color: white; }

     .navbar-toggle {
       border-color: #FFF;
     }
  }
}
#default-container {height: 100%; margin-top: 0px; background-color: #222; color: #919191;}
.image-link {
  position: relative;
}
.image-link-div {
  display: inline;
  width: 200px;
  position: absolute;
  top: 20px;
  left: 0px;
  background-color: white;
}

@include media-query($on-palm) {
   #martian-header { display: none; }
   #mini-martian-header {
     a { color: white; }
     display: inline;
   }
   #page-navbar {}
   #default-container {height: 100%; margin-top: 0px; background-color: $background-color;}

  .anim-step {
    clear: both;
    width: 100%;
    padding-top: 48px;
    padding-bottom: 48px;

    .step-instructions {
      max-width: 100%;
      min-width: 100%;
      padding-bottom: 12px;
    }
    .gif {
      max-width: 100%;
      min-width: 100%;
    }
  }
 }

 .highlight {
   background-color: #757575;
   color: white;

 }
