<p>Dear <%= @consultant.name %>,</p>

<p>A babylon appointment with the following details has been cancelled:</p>

<ul>
  <li>
    Date: <strong><%= format_date_and_time(@appointment.time.localtime) %></strong>
  </li>
  <li>
    With: <strong><%= @patient.full_name %></strong>
  </li>
</ul>

  <li>You told us: <%= @appointment.history_notes %></li>
  <li>What we explored: <%= @appointment.examination_notes %></li>
  <li>Our assessment: <%= @appointment.diagnosis_notes %></li>
  <li>What you should do: <%= @appointment.management_notes %></li>
  <li>What to do if things don't improve: <%= @appointment.further_action_notes %></li>
