
%h4= t 'financials.operating_costs.company_expenses.question_3'
= f.text_field :amount, :class => 'input-text-right'

%h4= t 'financials.operating_costs.company_expenses.question_4'
= f.text_field :vat, :class => 'input-text-right'

%h4= t 'stuff.we.dont.want.to.change'
%p Sometimes there is stuff we just don't want to change ...

%h4= t 'financials.operating_costs.company_expenses.question_5'
%p A subheading
%p A subheading
%p A subheading
= f.text_field :total_tax, :class => 'input-text-right'
