.series-note {
  margin-bottom: 12px;
  .series-note--head {
    p {
      padding: 0;
      margin: 0;
    }
    padding: 6px;
    background: $grey-color-light;
  }
  .series-note--content {
    ul {
      margin-bottom: 0;
    }
    border-left: dotted 1px $grey-color-light;
    border-right: dotted 1px $grey-color-light;
    padding: 6px;
  }
  .series-note--footer {
    padding-right: 6px;
    background: $grey-color-light;
    text-align: right;
    .shout-out {
      text-align: right;
      color: lighten;
    }
  }
}
