<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id='default-container'>
      {% include header.html %}
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script data-main="src/app" src="/bower_components/requirejs/require.js"></script>
  </body>

</html>
