<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <div class="navbar-wrapper">
      <div class="container">
        <div id='martian-header' class="">
          <h1>{{ site.title }}</h1>
        </div>
        {% include nav.html %}
      </div>
    </div>

    {{ content }}
    {% include footer.html %}

    <script type='text/javascript' src='bower_components/jquery/dist/jquery.min.js'></script>
    <script type='text/javascript' src='bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script data-main="src/app" src="bower_components/requirejs/require.js"></script>
  </body>
</html>

