<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width initial-scale=1">

  <meta name='site-name' content="{{ site.title }}" property="og:site_name">
  <meta content="website" property="og:type">
  <meta content="{{ site.description }}" property="og:description">

  <meta name="yandex-verification" content="75065cbb2068febe" />
  <title>{{ site.title }}</title>
  <style type="text/css">
    .m { stroke: darkred }
    .a1 { stroke: black }
    .r  { stroke: darkred }
    .t { stroke: black }
    .i {stroke: darkred}
    .a2 {stroke: black}
    .n {stroke: darkred}
    .w {stroke: black}
    .e {stroke: darkred}
    .b {stroke: black}
    .s {stroke: darkred}
  </style>
  <link rel="icon"
        type="image/png"
        href="/images/favicon.png">

    <script type="text/javascript" src="{{ "/dist/bundle.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/dist/main.css" | relative_url }}">
</head>
  <body class='bg-black'>

    {{ content }}

    {% include lytics.html %}
  </body>
</html>

