@import '~tailwindcss/dist/tailwind.css';

#home--text {
  position: absolute;
  left: 0%;
  top: 0%;
}

#home--text path#curve {
  fill: transparent;
}

#home--text {
  fill: #FFF;
}

#home--text svg {
  /* width: 100%; */
  /* height: 100%; */
}

#home--text--mml {
  font-size: x-small;
  letter-spacing: 6px;
}

#circle { position: relative; width: 100%; padding-bottom: 100%; overflow: hidden; }

#circle text { font-family: 'Helvetica Neue', Arial; font-size: 16px; font-weight: bold; }

#circle svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%;

  -webkit-animation-name: rotate;
     -moz-animation-name: rotate;
      -ms-animation-name: rotate;
       -o-animation-name: rotate;
          animation-name: rotate;
  -webkit-animation-duration: 15s;
     -moz-animation-duration: 15s;
      -ms-animation-duration: 15s;
       -o-animation-duration: 15s;
          animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
     -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
       -o-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
     -moz-animation-timing-function: linear;
      -ms-animation-timing-function: linear;
       -o-animation-timing-function: linear;
          animation-timing-function: linear;

}

@-webkit-keyframes rotate {
    from { -webkit-transform: rotate(0); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotate {
    to { -moz-transform: rotate(360deg); }
    from { -moz-transform: rotate(0); }
}
@-ms-keyframes rotate {
    to { -ms-transform: rotate(360deg); }
    from { -ms-transform: rotate(0); }
}
@-o-keyframes rotate {
    to { -o-transform: rotate(360deg); }
    from { -o-transform: rotate(0); }
}
@keyframes rotate {
    to { transform: rotate(360deg); }
    from { transform: rotate(0); }
}
